{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="mb-0">Admin Giriş</h4>
            </div>

            <div class="card-body p-4">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label fw-bold">Kullanıcı Adı</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Şifre</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">
                        Giriş Yap
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}